body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculatorContainer {
  max-width: 300px;
  max-height: 800px;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}
.equationHeader {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#inputEquation {
  width: 80%;
  background-color: rgb(192, 214, 148);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
}
.operatorContainer,
.constantContainer,
.numberContainer {
  width: 100vw;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
